
.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.graphContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.flex
{
  display: flex;
  border: 2px solid black;
}

.flex div
{
  margin: auto;
}

.graph {
  flex: 5;
  flex-direction: column;
}

.viewer {
  flex: 1;
}

.properties {
  flex: 3;
}
