
.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.graph.container {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.resizeable {
  width: 35%;
  display: flex;
  flex-direction: row;
}

.spacer {
  width: 15px;
  height: 100%;
  background-color: #181818;
}

.flex
{
  display: flex;
}

.flex div
{
  margin: auto;
}

.graph {
  flex: 5;
  flex-direction: column;
}

.viewer {
  flex: 1;
  background-color: #222;
  border-bottom: 10px solid #181818;
  color: #aaa;
  font-size: 24pt;
}

.properties {
  flex: 3;
}
